* {
    box-sizing: border-box;
    transition: ease-in-out 0.2s;
    font-family: sans-serif;
}

* :focus {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    flex-direction: column;
}

#description {
    margin-bottom: 40px;
    text-align: center;
    color: #707579;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
}

#title {
    font-size: 32px;
    font-weight: 500;
    margin: 50px auto 7px auto;
}


#input {
    margin-bottom: 40px;
    padding: 13px;
    font-size: 17px;
    width: 370px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    transition: 0.2s;
}

#input:hover {
    border: 1px solid black;
}

#input:focus {
    border: 2px solid #5b8af1;
}

#next {
    width: 100px;
    height: 55px;
    border: none;
    background-color: #239bcd;
    color: white;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.02857em;
}

#next:hover {
    background-color: rgb(63, 96, 168);
}

#drag {
    position: fixed;
    width: 100%;
    top: 0;
    height: 40px;
    -webkit-app-region: drag;
}

#profile {
    position: fixed;
    width: 300px;
    top: 10px;
    right: 10px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
}

#profilePicture {
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 4px;
}

#name {
    font-weight: bold;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
    margin-right: 35px;
}

#number {
    font-weight: lighter;
    text-align: center;
    margin-right: 35px;
    color: gray;
}

#credits {
    position: fixed;
    bottom: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #707579;
    font-size: 0.8rem;
    font-weight: 400;
}

#credits > a {
    color: #707579;
}

#reDownload {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 15px;
    line-height: 1.8rem;
=}

#reDownload > div {
    padding-left: 10px;
}

#queueButton {
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 15px;
    line-height: 1.8rem;
}

#queueButton > div {
    padding-left: 10px;
}

#queueList {
    width: 100%;
    height: 440px;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
    color: #777;

    /* Only when queue is populated */
    display: flex;
    flex-flow: column;
    overflow: scroll;
}

#queueList > div {
    width: 100%;
    height: 50px;
    line-height: 40px;
    padding: 5px;
    border-bottom: 1px solid #dfe1e5;
    color: #000;
    background-color: #e4ffea;
}

#loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 100px;
    height: 100px;
    animation: spin .75s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-15 16:42:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

